@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.datePicker::-webkit-datetime-edit-fields-wrapper {
}

.datePicker::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.datePicker{
    @apply bg-base text-2xl
}

.shipListItem:before {
    content: "";
    position: absolute;
    top: -20px;
    left:65%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    @apply bg-base
}

.shipListItem:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left:65%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    @apply bg-base
}
